body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #CFCDEB;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #CFCDEB;
    text-decoration: none;
}

h1,
p {
    margin: 0;
}

.header {
    background-color: black;
    padding: 20px 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__list {
    display: flex;
    justify-content: flex-end;
}

.header__link {
    display: block;
    padding: 10px 15px;
    transition: all 1.2s ease;
}

.header__link:hover {
    color: black;
    background-color: white;
}

.section-profile {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
    border-bottom: 10px solid black;
}

.section-profile__image {
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
}

.section-profile__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    transition: all .5s ease;
}

.section-profile__text:hover {
    text-shadow: 3px 3px 3px gray;
}

.section-profile__title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.section-profile__subtitle {
    font-size: 1.5rem;
}