body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(45deg, #31416D, #23325A);
    color: #FBFBFC;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #FBFBFC;
    text-decoration: none;
}

h1,
h2,
p {
    margin: 0;
}

.header {
    background-color: #69C480;
    padding: 20px 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__list {
    display: flex;
    justify-content: flex-end;
}

.header__link {
    display: block;
    padding: 10px 15px;
    transition: all .7s ease;
    color: #23325A;
    font-size: 24px;

}

.header__link:hover {
    color: black;
    background-color: white;
}

.section-profile {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
    border-bottom: 10px solid #FBFBFC;
}

.section-profile__image {
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
}

.section-profile__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    transition: all .5s ease;
    font-weight: 700;
}

.section-profile__title {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: #69C480;
}

.section-profile__subtitle {
    font-size: 1.5rem;
    color: white;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    width: calc(50% - 20px);
    padding: 10px 10px 30px 10px;
}

.title {
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    color: #F4BF4A;
}

.info {
    font-size: 20px;
}

.item {
    font-size: 20px;
    padding-bottom: 20px;
}

.item:last-child {
    padding-bottom: 0;
}