:root {
    --navy-blue: #23325A;
    --light-green: #69C480;
    --faint-yellow: #F4BF4A;
    --dark-blue: #31416D;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(45deg, var(--dark-blue), var(--navy-blue));
    color: #FBFBFC;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #FBFBFC;
    text-decoration: none;
}

h1,
h2,
p {
    margin: 0;
}

.header {
    background-color: var(--light-green);
    padding: 20px 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__list {
    display: flex;
    justify-content: flex-end;
}

.header__link {
    display: block;
    padding: 10px 15px;
    transition: all .7s ease;
    color: var(--navy-blue);
    font-size: 1.5rem;

}

.header__link:hover {
    color: black;
    background-color: white;
}

.section-profile {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
    border-bottom: 10px solid #FBFBFC;
}

.section-profile__image {
    border-radius: 50%;
    filter: drop-shadow(2px 4px 6px black);
}

.section-profile__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    transition: all .5s ease;
    font-weight: 700;
}

.section-profile__title {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: var(--light-green);
}

.section-profile__subtitle {
    font-size: 1.5rem;
    color: white;
}

.section-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section {
    width: calc(50% - 20px);
    padding: 10px 10px 30px 10px;
    border-bottom: 2px solid wheat;
    transition: all .5s ease;
}

.section:hover {
    box-shadow: 2px 0px 3px;
}

.title {
    padding: 20px 0 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: var(--faint-yellow);
}

.info {
    font-size: 1.25rem;
    max-width: 600px;
}

.item {
    font-size: 1.25rem;
    padding-bottom: 20px;
    transition: all .7s ease;
}

.item:last-child {
    padding-bottom: 0;
}

.item:hover svg {
    animation-name: svgSection;
    animation-duration: 1s;
}

@keyframes svgSection {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.item:hover .section-contacts__link::after {
    animation: link 1s forwards;
}

.item:hover .section-contacts__link {
    color: var(--faint-yellow);
}

.item:hover .section-contacts__svg {
    fill: var(--light-green);
}

.section-contacts__link {
    position: relative;
    transition: all 1s ease;
}

.section-contacts__link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 24px;
    height: 2px;
    background-color: var(--light-green);
}

@keyframes link {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.svg {
    margin-right: 10px;
    vertical-align: bottom;
}

.section-contacts__svg {
    fill: aliceblue;
}

.courses__item,
.languages__item {
    position: relative;
    padding-left: 35px;
}

.courses__item::before {
    content: '';
    background-image: url("../img/icons/book-svgrepo-com.svg");
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
}

.languages,
.education {
    border-bottom: 0;
}

.languages__item {
    position: relative;
}

.languages__item::before {
    content: '';
    background-image: url("../img/icons/language-planet-svgrepo-com.svg");
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
}

.footer {
    padding: 20px 0;
    text-align: center;
    background-color: var(--light-green);
    color: var(--navy-blue);
}

.footer__info {
    font-size: 1.5rem;
}

.footer a {
    color: var(--navy-blue);
}

.header__button {
    display: none;
}

@media screen and (max-width:860px) {
    html {
        font-size: 87.5%;
    }

    .header__menu {
        text-align: end;
    }

    .header__list {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--light-green);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
    }

    .menu-open .header__list {
        transform: translateY(0%);
    }

    .header__link {
        font-size: 3em;
        color: var(--navy-blue);
    }

    .header__button {
        display: inline-block;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        position: relative;
        z-index: 2;
    }

    .header__button-line {
        transition: all .5s ease;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--navy-blue);
    }

    .header__button-line:nth-child(1) {
        top: 0;
    }

    .header__button-line:nth-child(2) {
        top: 19px;
    }

    .header__button-line:nth-child(3) {
        top: 19px;
    }

    .header__button-line:nth-child(4) {
        top: 38px;
    }

    .menu-open .header__button-line:nth-child(1) {
        transform: scale(0);
    }

    .menu-open .header__button-line:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu-open .header__button-line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu-open .header__button-line:nth-child(4) {
        transform: scale(0);
    }

    .section-profile {
        flex-direction: column;
        align-items: center;
    }

    .section-profile__image {
        margin-bottom: 20px;
    }

    .section-profile__title {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:700px) {

    html {
        font-size: 82%;
    }

    .about-me,
    .section-contacts {
        width: 100%;
    }

    .section-contacts .list {
        display: flex;
        flex-wrap: wrap;
    }

    .section-contacts__item {
        width: 50%;
    }
}

@media screen and (max-width:580px) {
    html {
        font-size: 77.5%;
    }

    .section {
        width: 100%;
    }

    .section-contacts {
        flex-direction: column;
    }

    .section-contacts__item {
        width: 100%;
    }

    .education {
        border-bottom: 2px solid wheat;
    }
}

@media screen and (max-width:400px) {
    .section-profile__title {
        font-size: 1.5rem;
    }

    .section-profile__subtitle {
        font-size: 1.25rem;
    }
}